{% extends 'index.html' %}

{% block title %} {{meal_name}} {% endblock %}

{% block content %}
    {% if meal %}
        <p><b>Meal: </b>{{meal.name}}</p>
        <p><b>Description: </b>{{meal.description}}</p>
        <p><b>Price: </b>{{meal.price}} EUR</p>
        <p><b>Size: </b>{{meal.size}} g.</p>
        <p><b>Ammount of clicks: </b>{{meal_score}}</p>
    {% else %}
        Empty meal :(
    {% endif %}
<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{timelist_for_chart | safe}},
      datasets: [{
        label: '# of Clicks',
        data: {{clicklist_for_chart}},
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{% endblock %}