{% extends 'index.html' %}

{% block title %} Menu {% endblock %}

{% block content %}
    {% if meal_categories %}
        {% for category in meal_categories %}
            <h2><a href="{% url 'cafe_core_app:meal_category' category.0 %}">{{category.0}}</a></h2>
        {% endfor %}
    {% else %}
        No categories :(
    {% endif %}

<br>
<!--url is mapped by view action name or path name from urls.py-->
<h2><a href="{% url 'cafe_core_app:top' %}">Топ 3 блюд</a></h2>
<h2><a href="{% url 'cafe_core_app:top_users' %}">Топ 10 самых активных пользователей</a></h2>
<h2><a href="{% url 'cafe_core_app:top_users_categories' %}">Топ самых активных пользователей по категориям</a></h2>

{% endblock %}